Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

build
  createForm_7bf02c16148f542.css
  createForm_7bf02c16148f542.js
  createForm_b56d96958a77610.css
  createForm_b56d96958a77610.js
  index.html
  index_c662dcbb921c0ba.css
  index_c662dcbb921c0ba.js
  index_d9a71129c4b510b.js
  preview_afa7ec65d4dd0aa.css
  preview_afa7ec65d4dd0aa.js
  preview_cf156571f918f44.css
  preview_cf156571f918f44.js
Due: eslint

docs: 修改文档错误
  README-zhCN.md
  README.md
Due: none

build: 调整编译配置
  gulpfile.js
  package.json
Due: eslint

chore: 升级依赖
  package.json
Due: none

build: 修改编译配置
  config/basic.config.js
Due: eslint

build: 修改编译配置
  gulpfile.js
Due: eslint

chore: v4.2.1
  package.json
Due: none

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

feat: 数组添加$required属性
  example/json/array.json
  src/components/FormArray/createArrayRules.ts
  src/types.d.ts
Due: tslint, eslint

docs: $required配置的说明文档
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
Due: none

chore: v4.2.2
  package.json
Due: none

chore: 升级依赖
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: none

build: 拷贝旧版的网站
  .gitignore
  build/v2/5c1dda83561b934.css
  build/v2/aee2cd319b96ec9.css
  build/v2/dd9e08664d6cae0.css
  build/v2/eb45d13208a41ef.css
  build/v2/f2d8108dcb16b41.css
  build/v2/index.html
  build/v2/scripts/5c1dda83561b934.js
  build/v2/scripts/aee2cd319b96ec9.js
  build/v2/scripts/dd9e08664d6cae0.js
  build/v2/scripts/eb45d13208a41ef.js
  build/v2/scripts/f2d8108dcb16b41.js
  build/v3/1391c7e003b0873.css
  build/v3/1a7adb18343cd32.css
  build/v3/7c01aa329f90fb0.css
  build/v3/cdcd77d106ba6eb.css
  build/v3/d147f856e259dda.css
  build/v3/index.html
  build/v3/scripts/1391c7e003b0873.js
  build/v3/scripts/1a7adb18343cd32.js
  build/v3/scripts/7c01aa329f90fb0.js
  build/v3/scripts/cdcd77d106ba6eb.js
  build/v3/scripts/d147f856e259dda.js
  package.json
  sweet.config.js
Due: eslint

feat: 数组添加required属性的配置
  src/pages/CreateForm/json/array-zhCN.json
  src/pages/CreateForm/json/array.json
Due: none

fix: 调整面板的样式错误
  src/pages/CreateForm/ChangeJson/ChangeJson.js
  src/pages/CreateForm/ChangeJson/changeJson.sass
Due: eslint

fix: 调整demo的展示
  src/pages/Index/Demo.js
  src/pages/Index/demo.sass
Due: eslint

ci: 添加自动部署命令
  .github/workflows/build.yml
Due: none

ci: 修改eslint配置
  .eslintrc.js
  package.json
Due: eslint

fix: 修复首页demo的i18n失效的问题
  src/pages/Index/Demo.js
Due: eslint

Deploying to gh-pages from @ duan602728596/antd-schema-form@97a10f8cf182b9051c3210f622844b4f357c062d 🚀
  index.html
  index_228a90cf146bb08.js
  index_7f033216d8a8145.css
  index_7f033216d8a8145.js
Due: eslint

perf: 使用原生的方法替代lodash的方法
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/tableFunction.ts
Due: tslint, eslint

feat: 添加原生方法来替换lodash的方法
  src/utils/lodash.ts
Due: tslint, eslint

perf: 使用原生的方法替换
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/FormString/createStringRules.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
  src/utils/isAMomentObject.ts
  src/utils/lodash.ts
  src/utils/requireJson.ts
Due: tslint, eslint

perf: 使用原生方法实现
  src/utils/getValueFromObject.ts
Due: tslint, eslint

perf: 移除lodash的方法
  package.json
  src/utils/lodash.ts
  src/utils/sortProperties.ts
Due: tslint, eslint

perf: 对参数进行兼容处理
  src/components/FormArray/tableFunction.ts
  src/utils/lodash.ts
  src/utils/sortProperties.ts
Due: tslint, eslint

chore: v4.3.0
  package.json
Due: none

Deploying to gh-pages from @ duan602728596/antd-schema-form@f098eb05337b6ede2aef7ce7e152aec660921d8f 🚀
  251_1c519a2c0dbbeb1.css
  251_1c519a2c0dbbeb1.js
  251_c36f512532666d5.css
  251_c36f512532666d5.js
  785_79a192763d7554f.js
  785_a2225d4d0e39079.js
  codicon_00aa018e3ae78d5.ttf
  codicon_80a4c25b73c1f97.ttf
  createForm_eacc0a5087fa2df.css
  createForm_eacc0a5087fa2df.js
  createForm_ed03e833b645f99.js
  editor.worker.js
  index.html
  index_7f033216d8a8145.css
  index_7f033216d8a8145.js
  index_ce8f281392a98d4.css
  index_ce8f281392a98d4.js
  json.worker.js
  preview_78d3418562c197c.js
  preview_9091e9489854616.css
  preview_9091e9489854616.js
Due: eslint

refactor: 升级webpack版本并修改配置
  config/webpack.test.js
  package.json
  tests/index.ejs
Due: eslint

ci: 修改eslint配置
  .eslintrc.cjs
  .npmignore
  package.json
Due: none

build: 修改babel的配置
  config/babel.config.js
Due: eslint

ci: 修改husky的配置
  .husky/pre-commit
  .npmignore
  package.json
Due: none

chore: .npmrc
  .npmignore
  .npmrc
Due: none

build: 调整gulp的编译
  .npmignore
  gulpfile.mjs
  package.json
Due: none
