Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

feat: 允许通过ref获取form
  example/modules/Form.js
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/index.tsx
Due: tslint, eslint

docs: 修改文档中按需加载的说明
  README-zhCN.md
  README.md
Due: none

test: 调整组件的引入
  tests/SchemaForm.js
Due: eslint

perf: 调整组件
  src/SchemaForm.tsx
Due: tslint, eslint

refactor: 移除赋值
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

perf: 调整获取默认值的方法
  src/SchemaForm.tsx
  src/components/FormObject/OneOf.tsx
  src/types.d.ts
  src/utils/getObjectFromSchema.ts
  src/utils/getObjectFromValue.ts
Due: tslint, eslint

test: 调整测试用例的验证部分
  tests/index.js
  tests/tests/number/verification.js
  tests/tests/string/verification.js
  tests/tests/utils.js
Due: eslint

fix: 调整多选框类型
  example/json/array.json
Due: none

perf: 注入shouldUpdate函数
  src/components/FormObject/FormObject.tsx
  src/components/FormString/FormString.tsx
  src/utils/depShouldUpdate.ts
Due: tslint, eslint

chore: 升级依赖
  package.json
Due: none

fix: 更新图标
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

perf: 调整了dependencies属性
  src/components/FormObject/FormObject.tsx
  src/components/FormString/FormString.tsx
  src/utils/depShouldUpdate.ts
  src/utils/dependencies.ts
Due: tslint, eslint

ci: 调整eslint的配置
  .eslintrc.yml
  package.json
  tslint.json
Due: none

ci: 调整lint-staged的配置
  .lintstagedrc.yml
  package.json
Due: none

feat: 移除dependencies属性
  src/components/FormObject/FormObject.tsx
  src/components/FormString/FormString.tsx
  src/components/custom/custom.tsx
  src/types.d.ts
Due: tslint, eslint

refactor: 移除dependencies相关函数
  example/json/string.json
  src/components/FormString/FormString.tsx
  src/utils/dependencies.ts
Due: tslint, eslint

chore: 使用旧版本的typescript检查工具
  package.json
Due: none

fix: 修复类型错误
  src/components/custom/custom.tsx
Due: tslint, eslint

chore: 升级所有依赖到最新
  package.json
Due: none

feat: 添加$order属性，允许properties排序
  src/components/FormObject/FormObject.tsx
  src/types.d.ts
  src/utils/sortProperties.ts
Due: tslint, eslint

build: 移除命令
  package.json
Due: none

perf: 添加Object.entries和Object.fromEntries的兼容方法
  src/utils/sortProperties.ts
Due: tslint, eslint

docs: 添加$order的说明
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
Due: none

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v3.1.0
  package.json
Due: none

style: 格式化代码
  src/components/FormArray/TableComponent.tsx
  src/components/custom/custom.tsx
Due: tslint, eslint

fix: 修复类型错误
  package.json
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

style: 格式化代码
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/custom/custom.tsx
  src/components/custom/selectOptionsRender.tsx
  src/index.tsx
Due: tslint, eslint

fix: 替换废弃组件
  example/App.js
Due: eslint

fix: 替换图标组件
  example/modules/Form.js
Due: eslint

ci: 修改lint-staged的配置
  .lintstagedrc.yml
  package.json
Due: none

refactor: 调整目录名称
  src/pages/CreateForm/Index/AddDrawer.js
  src/pages/CreateForm/Index/ChangeJson.js
  src/pages/CreateForm/Index/EditDrawer.js
  src/pages/CreateForm/Index/JsonInputTextArea.js
  src/pages/CreateForm/Index/index.js
  src/pages/CreateForm/Index/json/array-zhCN.json
  src/pages/CreateForm/Index/json/array.json
  src/pages/CreateForm/Index/json/boolean-zhCN.json
  src/pages/CreateForm/Index/json/boolean.json
  src/pages/CreateForm/Index/json/json.js
  src/pages/CreateForm/Index/json/number-zhCN.json
  src/pages/CreateForm/Index/json/number.json
  src/pages/CreateForm/Index/json/object-zhCN.json
  src/pages/CreateForm/Index/json/object.json
  src/pages/CreateForm/Index/json/string-zhCN.json
  src/pages/CreateForm/Index/json/string.json
  src/pages/CreateForm/Index/style.sass
  src/pages/CreateForm/Layout.js
  src/pages/CreateForm/reducer/reducer.js
  src/pages/Index/Index/demo-zhCN.json
  src/pages/Index/Index/demo.json
  src/pages/Index/Index/index.js
  src/pages/Index/Index/style.sass
  src/pages/Index/Layout.js
  src/pages/Preview/Index/SchemaFormPreview.js
  src/pages/Preview/Index/index.js
  src/pages/Preview/Index/style.sass
  src/pages/Preview/Layout.js
  src/pages/Preview/reducer/reducer.js
  src/router/Routers.js
Due: eslint

feat: 添加新的配置
  src/pages/CreateForm/Index/json/array-zhCN.json
  src/pages/CreateForm/Index/json/array.json
  src/pages/CreateForm/Index/json/boolean-zhCN.json
  src/pages/CreateForm/Index/json/boolean.json
  src/pages/CreateForm/Index/json/number-zhCN.json
  src/pages/CreateForm/Index/json/number.json
  src/pages/CreateForm/Index/json/object-zhCN.json
  src/pages/CreateForm/Index/json/object.json
  src/pages/CreateForm/Index/json/string-zhCN.json
  src/pages/CreateForm/Index/json/string.json
Due: none

fix: 移除valuePropName
  src/components/FormBoolean/FormBoolean.tsx
Due: tslint, eslint

fix: 调整data-index的获取方式
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

fix: 修复了样式被覆盖的问题
  src/style/_style.sass
Due: none

fix: 还原valuePropName属性
  src/components/FormBoolean/FormBoolean.tsx
Due: tslint, eslint
