Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

linters:
  src/**/*.{ts,tsx}: tslint
  "*.{js,jsx}": eslint
ignore:
  - node_modules
  - es
  - lib
  - style

chore: 升级依赖
  package.json
Due: none

perf: 表单预览添加错误边界
  src/modules/Preview/Index/SchemaFormPreview.js
  src/modules/Preview/Index/index.js
Due: eslint

refactor: 调整模块引入
  src/App.js
  src/components/I18N/I18N.js
  src/modules/CreateForm/Index/AddDrawer.js
  src/modules/CreateForm/Index/ChangeJson.js
  src/modules/CreateForm/Index/EditDrawer.js
  src/modules/CreateForm/Index/JsonInputTextArea.js
  src/modules/CreateForm/Layout.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Preview/Index/SchemaFormPreview.js
  src/modules/Preview/Layout.js
  src/router/Routers.js
  src/router/asyncModule.js
Due: eslint

fix: 修复模块引入错误
  src/modules/Preview/Layout.js
Due: eslint

refactor: 调整样式
  src/assembly/Arrangement/style.sass
Due: none

perf: 表单预览区域添加无状态和错误边界样式
  src/modules/Preview/Index/SchemaFormPreview.js
  src/modules/Preview/Index/index.js
  src/modules/Preview/Index/style.sass
Due: eslint

build
  2fb95.css
  2fb95.js
  39aba.css
  39aba.js
  6e2a9.css
  6e2a9.js
  7ce91.css
  7ce91.js
  994e8.css
  994e8.js
  aec12.css
  aec12.js
  c906b.js
  cb84f.css
  cb84f.js
  index.html
Due: eslint

refactor: 添加注释
  src/components/FormArray/FormArray.tsx
Due: tslint

style: 格式化代码格式
  src/components/FormObject/FormObject.tsx
Due: tslint

perf: 使用lodash替代自己的通用函数
  package.json
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/FormString/createStringRules.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
  src/utils/requireJson.ts
  src/utils/type.ts
Due: tslint

refactor: 使用lodash优化函数
  src/components/FormArray/tableFunction.ts
Due: tslint

refactor: 调整类型判断
  src/components/FormArray/TableComponent.tsx
Due: tslint

refactor: 优化格式化数据的代码
  src/utils/getValueFromObject.ts
Due: tslint

refactor: 调整格式化表单值的代码
  src/utils/getObjectFromValue.ts
Due: tslint

Revert "refactor: 调整格式化表单值的代码"
  src/utils/getObjectFromValue.ts
Due: tslint

refactor: 调整传参
  src/utils/getObjectFromValue.ts
Due: tslint

fix: 修改错误的数据类型
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/utils/getValueFromObject.ts
Due: tslint

ci: 修改webpack配置
  config/webpack.test.js
Due: eslint

refactor: 修改lodash的引入方法
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/components/FormArray/tableFunction.ts
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/createStringRules.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
Due: tslint

refactor: 统一antd的d.ts文件的引入路径
  src/components/FormObject/OneOf.tsx
Due: tslint

refactor: 统一函数传参
  src/components/FormArray/TableComponent.tsx
Due: tslint

refactor: 删除无用的样式
  src/style/_style.sass
Due: none

feat: 添加dependencies的表单渲染效果
  example/json/string.json
  src/components/FormObject/FormObject.tsx
  src/types.d.ts
Due: tslint

feat: 添加dependencies的表单渲染效果
  src/components/FormObject/FormObject.tsx
Due: tslint

perf: 当表单的字段是被依赖的时候，被依赖的字段必须填写
  src/components/FormObject/FormObject.tsx
Due: tslint

test: 添加dependencies的测试用例
  tests/tests/object/test.js
Due: eslint

style: 修改react的引入
  tests/tests/array/componentRender.js
  tests/tests/array/hasValue.js
  tests/tests/array/verification.js
  tests/tests/boolean/componentRender.js
  tests/tests/boolean/hasValue.js
  tests/tests/number/attrs.js
  tests/tests/number/componentRendering.js
  tests/tests/number/hasValue.js
  tests/tests/number/verification.js
  tests/tests/object/test.js
  tests/tests/string/attrs.js
  tests/tests/string/componentRendering.js
  tests/tests/string/hasValue.js
  tests/tests/string/verification.js
Due: eslint

test: 调整表单验证的测试用例
  tests/tests/object/test.js
  tests/tests/string/verification.js
Due: eslint

test: 调整表单验证的测试用例
  tests/tests/number/verification.js
Due: eslint

docs: 添加dependencies属性的说明文档
  README-zhCN.md
  README.md
Due: none

docs: 升级说明 #3
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v2.2.0
  package.json
Due: none

ci: 调整lint配置
  .lintstagedrc.yml
Due: none

refactor: 添加版本号显示
  src/assembly/Header/index.js
  src/assembly/Header/style.sass
Due: eslint

docs: 修改markdown文字的渲染
  README-zhCN.md
Due: none

build
  1647c.css
  1647c.js
  210e8.css
  210e8.js
  27929.css
  27929.js
  2fb95.js
  39aba.css
  39aba.js
  64a69.css
  64a69.js
  994e8.css
  994e8.js
  cb84f.js
  index.html
Due: eslint

docs: 修改文档的链接
  README.md
Due: none

perf: 修改排序的方法
  src/components/FormArray/tableFunction.ts
Due: tslint

perf: 调整排序方法
  src/components/FormArray/tableFunction.ts
Due: tslint
