Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

linters:
  src/**/*.{ts,tsx}: tslint
  "*.{js,jsx}": eslint
ignore:
  - node_modules
  - es
  - lib
  - style

test: 添加获取key时json内有oneOf的情况的测试用例
  tests/tests/function/getKeysFromObjectTest.js
  tests/tests/function/test.js
Due: eslint

chore: v2.0.0-beta.9
  package.json
Due: none

ci: 修改命令中的单词错误
  package.json
Due: none

ci: 降低babel-eslint版本，并修改配置
  .babelrc
  package.json
Due: none

feat: oneOf切换添加只读（无法切换）功能，用于表单回填时禁止切换状态的场景
  src/components/FormObject/OneOf.tsx
  src/types.d.ts
Due: tslint

refactor: 修改$oneOfIndex的类型
  src/components/FormObject/OneOf.tsx
  src/types.d.ts
Due: tslint

docs: 文档添加oneOf的说明
  README-zhCN.md
  README.md
Due: none

docs: 更新说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v2.0.0-beta.10
  package.json
Due: none

chore: v2.0.0-beta.11
  package.json
Due: none

fix: 修改变量类型，原变量类型要放弃
  src/components/FormArray/DragableBodyRow.tsx
Due: tslint

feat: 使用原生的拖拽替换dnd组件的拖拽
  package.json
  src/components/FormArray/DragableBodyRow.tsx
  src/components/FormArray/TableComponent.tsx
Due: tslint

refactor: 调整拖拽
  src/components/FormArray/TableComponent.tsx
Due: tslint

docs: 修改说明
  README-zhCN.md
  README.md
Due: none

chore: v2.0.0-beta.12
  package.json
Due: none

docs: 更新说明
  CHANGELOG.md
Due: none

refactor: 修改位置使用moveRow方法
  src/components/FormArray/TableComponent.tsx
Due: tslint

ci: 调整配置
  .eslintignore
  .eslintrc.yml
  .flowconfig
  .gitignore
  .lintstagedrc.yml
  .sweetrc.js
  package.json
Due: eslint

perf: 删除flow类型
  .sweetrc.js
  package.json
  src/App.js
  src/app.js
  src/assembly/Arrangement/index.js
  src/assembly/Header/Nav.js
  src/assembly/Header/index.js
  src/assembly/SwitchLoading/index.js
  src/components/I18N/I18N.js
  src/components/I18N/languagePack.js
  src/components/SchemaForm/SchemaForm.js
  src/components/highlightjs/highlightjs.js
  src/imports.js
  src/index.js
  src/modules/CreateForm/Index/AddDrawer.js
  src/modules/CreateForm/Index/ChangeJson.js
  src/modules/CreateForm/Index/EditDrawer.js
  src/modules/CreateForm/Index/JsonInputTextArea.js
  src/modules/CreateForm/Index/index.js
  src/modules/CreateForm/Layout.js
  src/modules/CreateForm/store/reducer.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Preview/Index/index.js
  src/modules/Preview/Layout.js
  src/modules/Preview/store/reducer.js
  src/router/Routers.js
  src/router/asyncModule.js
  src/store/loadReducer.js
  src/store/reducers.js
  src/store/store.js
  src/utils.js
Due: eslint

ci: 修改命令
  package.json
Due: none

docs: 修改大小写
  README.md
Due: none

perf: 修改表单配置
  src/modules/CreateForm/Index/json/array-zhCN.json
  src/modules/CreateForm/Index/json/array.json
Due: none

refactor: 调整包的引用
  .sweetrc.js
  package.json
  src/components/SchemaForm/SchemaForm.js
  src/components/highlightjs/highlightjs.js
  src/modules/CreateForm/Index/AddDrawer.js
  src/modules/CreateForm/Index/EditDrawer.js
  src/modules/Index/Index/index.js
  src/modules/Preview/Index/index.js
Due: eslint

build
  22deb.css
  22deb.js
  42b9a.css
  42b9a.js
  cc269.css
  cc269.js
  f0b59.css
  f0b59.js
  index.html
  script/1e5db.js
  script/a8dd7.js
  script/ae31e.js
  script/b662b.js
  style/1e5db.css
  style/a8dd7.css
  style/b662b.css
Due: eslint

fix: 修复了string的select组件在required的情况下清除按钮仍然存在的问题
  src/components/FormString/FormString.tsx
Due: tslint

chore: v2.0.0-beta.13
  package.json
Due: none

refactor: 添加webpackChunkName
  src/router/Routers.js
Due: eslint

docs: Schemaform -> SchemaForm typo
  README.md
Due: none

docs: 修改大小写错误
  README-zhCN.md
Due: none

docs: 文档错误：required -> $required
  README.md
Due: none

perf: 修改了添加数据弹层的确认和取消按钮的文字
  language/default.json
  language/zh-CN.json
  src/components/FormArray/TableComponent.tsx
Due: tslint

fix: item可能没有index值，会导致拖拽时发生错误
  src/components/FormArray/TableComponent.tsx
Due: tslint

feat: 允许表单域隐藏
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormString/FormString.tsx
  src/style/_style.sass
  src/style/_variable.sass
  src/style/antd-schema-form-global.sass
  src/style/antd-schema-form.sass
  src/types.d.ts
Due: tslint

feat: 允许表格隐藏列
  src/components/FormArray/TableComponent.tsx
  src/types.d.ts
Due: tslint

docs: v2.0.0更新说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

fix: 修改样式问题
  src/style/_style.sass
Due: none

docs: 添加新字段的说明
  README-zhCN.md
  README.md
Due: none
