Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

linters:
  src/**/*.{ts,tsx}: tslint
  "*.{js,jsx}": eslint
ignore:
  - node_modules
  - es
  - lib
  - style

refactor: .eslintignore
  .eslintignore
Due: none

chore: 修改eslint配置，使用eslint检查ts代码
  .eslintignore
  .eslintrc.yml
  package.json
Due: none

chore: 修改lint-staged的配置
  .lintstagedrc.yml
Due: none

ci: 允许eslint检查ts类型的文件
  package.json
Due: none

feat: 表格内数据拖拽排序功能
  package.json
  src/components/FormArray/DragableBodyRow.tsx
  src/components/FormArray/TableComponent.tsx
  src/style/_style.sass
  src/style/_variable.sass
Due: tslint

perf: 表格位置排序计算使用immutability-helper替换原有的计算方法
  src/components/FormArray/TableComponent.tsx
Due: tslint

refactor: 删除console.log
  src/components/FormArray/DragableBodyRow.tsx
Due: tslint

perf: 在输入数字跳转时，不允许拖拽
  src/components/FormArray/DragableBodyRow.tsx
  src/components/FormArray/TableComponent.tsx
  src/style/_style.sass
Due: tslint

fix: 在显示输入栏时，onrow提示的props错误信息
  src/components/FormArray/TableComponent.tsx
Due: tslint

docs: 修改自定义footer的参考地址
  README-zhCN.md
  README.md
Due: none

chore: 修改eslint和tslint的配置
  .eslintrc.yml
  package.json
  tsconfig.es5.json
  tsconfig.json
  tslint.json
Due: none

style: 格式化代码风格
  src/SchemaForm.tsx
  src/components/FormArray/DragableBodyRow.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/tableFunction.ts
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/FormString/InputPassword.tsx
  src/components/FormString/createStringRules.ts
  src/context.ts
  src/types.d.ts
  src/utils/getKeysFromObject.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
  src/utils/styleName.ts
  src/utils/type.ts
Due: tslint

refactor: state的默认值为undefined
  src/components/FormArray/TableComponent.tsx
Due: tslint

style: 格式化代码
  src/components/FormString/FormString.tsx
Due: tslint

refactor: 修改Password的变量类型
  src/components/FormString/InputPassword.tsx
Due: tslint

style: 格式化代码
  src/components/FormArray/TableComponent.tsx
  src/components/FormNumber/FormNumber.tsx
Due: tslint

style: 格式化代码
  src/components/FormArray/DragableBodyRow.tsx
Due: tslint

perf: 修改样式的计算
  src/components/FormArray/DragableBodyRow.tsx
Due: tslint

refactor: 对undefined进行判断
  src/components/FormArray/DragableBodyRow.tsx
Due: tslint

refactor: 对undefined进行判断
  src/components/FormNumber/createNumberRules.ts
Due: tslint

refactor: 修改变量类型
  src/components/FormArray/TableComponent.tsx
Due: tslint

style: 格式化代码
  bin/get-version.js
  config/basic.config.js
  example/AppModule.js
  example/app.js
  example/modules/Form.js
  gulpfile.js
  package.json
  test/app.js
  test/tests/array/componentRender.js
  test/tests/array/hasValue.js
  test/tests/array/test.js
  test/tests/boolean/componentRender.js
  test/tests/boolean/hasValue.js
  test/tests/boolean/test.js
  test/tests/function/getKeysFromObjectTest.js
  test/tests/function/getObjectFromValueTest.js
  test/tests/function/getValueFromObjectTest.js
  test/tests/function/test.js
  test/tests/number/attrs.js
  test/tests/number/componentRendering.js
  test/tests/number/hasValue.js
  test/tests/number/test.js
  test/tests/number/verification.js
  test/tests/object/test.js
  test/tests/string/attrs.js
  test/tests/string/componentRendering.js
  test/tests/string/hasValue.js
  test/tests/string/test.js
  test/tests/string/verification.js
Due: eslint

refactor: 调整所有event的变量类型
  src/components/FormArray/TableComponent.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormString/InputPassword.tsx
Due: tslint

docs: v2.0.0-beta.3的升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v2.0.0-beta.3
  package.json
Due: none

chore: 更新依赖
  package.json
Due: none

build
  index.html
  script/05ef1.js
  script/23165.js
  script/33243.js
  script/41726.js
  script/5a180.js
  script/c30b3.js
  script/d73ff.js
  script/fdaca.js
  style/23165.css
  style/33243.css
  style/41726.css
  style/5a180.css
  style/c30b3.css
  style/d73ff.css
  style/fdaca.css
Due: eslint

style: 格式化代码
  .eslintrc.yml
  src/components/FormObject/FormObject.tsx
Due: tslint

chore: 修改eslint配置
  .eslintrc.yml
  package.json
Due: none

fix: 修改配置错误
  .eslintrc.yml
Due: none

perf: 调整查看更新的脚本，优化显示
  bin/get-version.js
  package.json
Due: eslint

feat: Array类型组件添加实例数量的验证
  example/json/array.json
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/createArrayRules.ts
  src/types.d.ts
Due: tslint

feat: table组件添加样式错误的动画提示效果
  example/json/array.json
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/style/_style.sass
  src/style/_variable.sass
Due: tslint

fix: ide无法正确提示语法错误，回退eslint配置
  .eslintrc.yml
  package.json
Due: none

fix: 修复classnames模块名称的警告
  src/components/FormArray/TableComponent.tsx
Due: tslint

style: 更新eslint版本，调整配置
  .babelrc
  package.json
  src/components/FormObject/FormObject.tsx
Due: tslint

refactor: 修改数组内元素数量的判断文案
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
Due: tslint

docs: 添加数组类型的minItems、maxItems验证的说明
  README-zhCN.md
  README.md
Due: none

refactor: 调整折叠面板的样式
  src/style/_style.sass
Due: none

refactor: 优化语言包的初始配置
  src/SchemaForm.tsx
Due: tslint
