Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

chore: v2.4.2
  README-zhCN.md
  README.md
  package.json
Due: none

chore: v3.0.1
  README-zhCN.md
  README.md
  package.json
Due: none

chore: 升级依赖
  package.json
Due: none

feat: 添加图标
  src/components/icons/icons.js
Due: eslint

build
  5c1dda83561b934.css
  6ea30358802b549.css
  aee2cd319b96ec9.css
  eb45d13208a41ef.css
  f2d8108dcb16b41.css
  index.html
  scripts/2efa169cc022378.js
  scripts/5024f405d12312a.js
  scripts/566831b7a7c4914.js
  scripts/5c1dda83561b934.js
  scripts/6ea30358802b549.js
  scripts/a17aedc578db545.js
  scripts/aee2cd319b96ec9.js
  scripts/c69d22231e885df.js
  scripts/eb45d13208a41ef.js
  scripts/f2d8108dcb16b41.js
Due: eslint

ci: .lintstagedrc
  .lintstagedrc.yml
Due: none

chore: v3
  package.json
Due: none

chore: 升级组件版本
  package.json
Due: none

feat: 使用hooks重构
  src/App.js
  src/assembly/Header/Nav.js
  src/components/I18N/I18N.js
  src/router/Routers.js
  src/store/useActions.js
Due: eslint

feat: 添加版本的选择
  src/assembly/Header/index.js
Due: eslint

feat: 使用hooks重构代码
  src/assembly/Header/index.js
  src/assembly/Header/style.sass
  src/modules/Index/Index/index.js
Due: eslint

feat: 重构代码
  .eslintrc.yml
  src/modules/CreateForm/Index/AddDrawer.js
  src/modules/CreateForm/Index/EditDrawer.js
  src/modules/CreateForm/Index/index.js
  src/modules/CreateForm/Index/json/array-zhCN.json
  src/modules/CreateForm/Index/json/array.json
  src/modules/CreateForm/Index/json/boolean-zhCN.json
  src/modules/CreateForm/Index/json/boolean.json
  src/modules/CreateForm/Index/json/number-zhCN.json
  src/modules/CreateForm/Index/json/number.json
  src/modules/CreateForm/Index/json/object-zhCN.json
  src/modules/CreateForm/Index/json/object.json
  src/modules/CreateForm/Index/json/string-zhCN.json
  src/modules/CreateForm/Index/json/string.json
  src/modules/CreateForm/Layout.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Preview/Layout.js
Due: eslint

feat: 重构代码
  src/modules/CreateForm/Index/JsonInputTextArea.js
Due: eslint

feat: 重构代码
  src/modules/CreateForm/Index/ChangeJson.js
  src/modules/CreateForm/Index/JsonInputTextArea.js
Due: eslint

perf: 调整了schema片段
  src/modules/CreateForm/Index/ChangeJson.js
  src/modules/CreateForm/Index/json/array-zhCN.json
  src/modules/CreateForm/Index/json/array.json
Due: eslint

feat: 重构代码
  src/modules/Preview/Index/index.js
Due: eslint

build: 调整编译完毕后的静态文件地址
  .sweetrc.js
  src/index.pug
Due: eslint

build
  0708685a129f82b.css
  5392a80e0292c6d.css
  _/v2/5c1dda83561b934.css
  _/v2/aee2cd319b96ec9.css
  _/v2/ccc42860a403c1a.css
  _/v2/eb45d13208a41ef.css
  _/v2/f2d8108dcb16b41.css
  _/v2/index.html
  _/v2/scripts/5c1dda83561b934.js
  _/v2/scripts/aee2cd319b96ec9.js
  _/v2/scripts/ccc42860a403c1a.js
  _/v2/scripts/eb45d13208a41ef.js
  _/v2/scripts/f2d8108dcb16b41.js
  c3f1a42d4a003a0.css
  e50e75daad38952.css
  f5238869c369fe6.css
  index.html
  scripts/0708685a129f82b.js
  scripts/2efa169cc022378.js
  scripts/5024f405d12312a.js
  scripts/5392a80e0292c6d.js
  scripts/566831b7a7c4914.js
  scripts/a17aedc578db545.js
  scripts/c3f1a42d4a003a0.js
  scripts/c69d22231e885df.js
  scripts/e50e75daad38952.js
  scripts/f5238869c369fe6.js
Due: eslint

perf: 调整文件地址
  src/assembly/Header/index.js
Due: eslint

build: 调整编译配置
  .sweetrc.js
Due: eslint

build
  _/v2/index.html
  _/v2/scripts/ccc42860a403c1a.js
  b2c7417c82ebd01.css
  index.html
  scripts/b2c7417c82ebd01.js
  scripts/e50e75daad38952.js
  v2/4ec12ad8ac32329.css
  v2/5c1dda83561b934.css
  v2/aee2cd319b96ec9.css
  v2/eb45d13208a41ef.css
  v2/f2d8108dcb16b41.css
  v2/index.html
  v2/scripts/4ec12ad8ac32329.js
  v2/scripts/5c1dda83561b934.js
  v2/scripts/aee2cd319b96ec9.js
  v2/scripts/eb45d13208a41ef.js
  v2/scripts/f2d8108dcb16b41.js
Due: eslint

fix: 修改v2的网址
  src/assembly/Header/index.js
Due: eslint

build
  032fc39e0302599.css
  index.html
  scripts/032fc39e0302599.js
  scripts/b2c7417c82ebd01.js
Due: eslint

fix: 修改title
  src/modules/Index/Layout.js
Due: eslint

build
  v2/dd9e08664d6cae0.css
  v2/index.html
  v2/scripts/4ec12ad8ac32329.js
  v2/scripts/dd9e08664d6cae0.js
Due: eslint

docs: 修改文档中的错误
  README-zhCN.md
  README.md
Due: none

docs: 修改文档中的错误
  README.md
Due: none

docs: 修改文档中的错误
  README-zhCN.md
Due: none

feat: 调整变量类型
  package.json
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormObject/FormObject.tsx
  src/components/FormString/FormString.tsx
  src/components/FormString/createStringRules.ts
  src/components/custom/custom.tsx
  src/languagePack.ts
  src/types.d.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
  src/utils/warning.ts
Due: tslint, eslint

fix: 添加<Form></Form>，避免发生渲染错误的提示
  example/modules/Form.js
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/custom/custom.tsx
  src/index.tsx
  src/style/_style.sass
Due: tslint, eslint

fix: 调整表单验证
  .babelrc
  example/index.js
  package.json
  src/components/FormArray/FormArray.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormString/FormString.tsx
  src/utils/createElement.ts
Due: tslint, eslint

fix: 调整自定义表单验证函数
  src/components/FormArray/createArrayRules.ts
  src/components/FormNumber/createNumberRules.ts
Due: tslint, eslint

docs: 文档错误修正
  README-zhCN.md
  README.md
Due: none

perf: 表单验证失败，页面会滚动到控件的位置
  src/components/FormObject/FormObject.tsx
Due: tslint, eslint

perf: 调整自定义table组件
  example/json/array.json
  example/modules/Form.js
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

perf: 调整defaultValue赋值
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

fix: 调整form的layout
  src/SchemaForm.tsx
Due: tslint, eslint

fix: 修复TableComponent修改操作时的赋值错误
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint
