Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

refactor: 调整redux
  src/router/asyncModule.js
  src/store/asyncLoadReducers.js
  src/store/reducers.js
  src/store/store.js
Due: eslint

fix: 文档字段错误
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
Due: none

fix: 修复字段错误
  src/pages/CreateForm/json/array-zhCN.json
  src/pages/CreateForm/json/array.json
Due: none

docs: 修改标签的版本
  README-zhCN.md
  README.md
Due: none

build
  131_6d72a8de12b518b.js
  194_0e8cf9d4585f5ec.js
  251_84bcf3a63372e89.css
  251_84bcf3a63372e89.js
  881_ad6214b0afff51b.css
  881_ad6214b0afff51b.js
  createForm_38b43d61f9aa91d.js
  createForm_d880a8b28127b38.css
  createForm_d880a8b28127b38.js
  editor.worker.js
  index.html
  index_147e404a813c5f5.css
  index_147e404a813c5f5.js
  index_b48b4cc8f99dfd4.css
  index_b48b4cc8f99dfd4.js
  json.worker.js
  preview_c478eeab514ec47.js
  preview_ed678b845e53c9c.css
  preview_ed678b845e53c9c.js
Due: eslint

fix: 修复类型错误
  src/types.d.ts
Due: tslint, eslint

feat: 数组添加$rowKey配置
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
  src/components/FormArray/TableComponent.tsx
  src/types.d.ts
Due: tslint, eslint

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v4.1.1
  package.json
Due: none

refactor: 修改类型的引入
  package.json
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/components/FormNumber/FormNumber.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormObject/FormObject.tsx
  src/components/FormString/FormString.tsx
  src/components/FormString/createStringRules.ts
  src/utils/getObjectFromSchema.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
Due: tslint, eslint

chore: 升级依赖
  package.json
Due: none

ci: 修改eslint配置
  .eslintrc.js
  package.json
Due: eslint

refactor: 修改index
  src/App.js
  src/index.js
Due: eslint

refactor: 修改字体大小
  src/layouts/Header/index.sass
Due: none

refactor: 英文下添加空格
  src/components/I18N/languagePack/default.json
Due: none

refactor: 添加注释
  src/layouts/Header/Nav.js
  src/layouts/Header/index.js
  src/pages/CreateForm/ChangeJson.js
  src/pages/CreateForm/CreateForm.js
  src/pages/CreateForm/EditDrawer.js
  src/pages/CreateForm/JsonInputTextarea.js
  src/pages/CreateForm/index.js
  src/pages/Index/Demo.js
  src/pages/Index/index.js
  src/pages/Preview/Preview.js
  src/pages/Preview/SchemaFormPreview.js
  src/pages/Preview/index.js
Due: eslint

refactor: 调整context的使用
  src/pages/CreateForm/CreateForm.js
Due: eslint

chore: 移除依赖
  package.json
Due: none

build
  194_0e8cf9d4585f5ec.js
  251_84bcf3a63372e89.css
  251_84bcf3a63372e89.js
  251_ea593abb66e90c7.css
  251_ea593abb66e90c7.js
  785_806d677626b25e6.js
  codicon_4168b9c11e5075e.ttf
  codicon_b3726f0165bf67a.ttf
  createForm_11634af12abe4ae.css
  createForm_11634af12abe4ae.js
  createForm_d880a8b28127b38.js
  editor.worker.js
  index.html
  index_3fc48cf77e8328c.css
  index_3fc48cf77e8328c.js
  index_b48b4cc8f99dfd4.css
  index_b48b4cc8f99dfd4.js
  json.worker.js
  preview_a44cb0a359fcc9d.css
  preview_a44cb0a359fcc9d.js
  preview_ed678b845e53c9c.js
Due: eslint

feat: 判断是否为moment对象或者是dayjs对象
  src/utils/getObjectFromSchema.ts
  src/utils/getObjectFromValue.ts
  src/utils/isAMomentObject.ts
Due: tslint, eslint

chore: dayjs
  config/basic.config.js
  package.json
Due: eslint

build: 修改gulp的编译配置
  gulpfile.js
  package.json
Due: eslint

chore: 升级到webpack5
  config/basic.config.js
  package.json
Due: eslint

chore: 升级依赖
  config/webpack.dev.js
  config/webpack.test.js
  package.json
  tests/index.js
Due: eslint

fix: 修复判断错误
  src/utils/getObjectFromValue.ts
Due: tslint, eslint

build: 使用react-refresh替换react-hot-loader
  .babelrc
  config/babel.config.js
  config/basic.config.js
  example/App.js
  example/index.js
  example/modules/Form.js
  package.json
  tests/index.js
Due: eslint

ci: 移除命令
  package.json
Due: none

chore: v4.2.0
  package.json
Due: none

chore: .eslintrc.js
  .npmignore
Due: none

chore: 升级依赖
  package.json
  src/pages/CreateForm/json/json.js
Due: eslint

build: 添加antd-dayjs-webpack-plugin插件
  sweet.config.js
Due: eslint

fix: 变量错误
  src/pages/CreateForm/json/json.js
Due: eslint

build
  251_b477764568301a0.css
  251_b477764568301a0.js
  251_ea593abb66e90c7.css
  251_ea593abb66e90c7.js
  785_806d677626b25e6.js
  785_f168a606c25ace0.js
  codicon_4168b9c11e5075e.ttf
  codicon_74d8acf8740a672.ttf
  createForm_11634af12abe4ae.js
  createForm_7bf02c16148f542.css
  createForm_7bf02c16148f542.js
  editor.worker.js
  index.html
  index_3fc48cf77e8328c.css
  index_3fc48cf77e8328c.js
  index_d9a71129c4b510b.css
  index_d9a71129c4b510b.js
  json.worker.js
  preview_a44cb0a359fcc9d.js
  preview_afa7ec65d4dd0aa.css
  preview_afa7ec65d4dd0aa.js
Due: eslint

perf: 根据eslint规则格式化代码
  .eslintrc.js
  example/modules/Form.js
  package.json
  src/components/FormArray/TableComponent.tsx
  src/components/FormObject/FormObject.tsx
  src/utils/getKeysFromObject.ts
Due: tslint, eslint

perf: 根据lint规则格式化代码
  .eslintrc.js
  package.json
  src/pages/CreateForm/ChangeJson.js
  src/pages/Preview/Preview.js
Due: eslint

feat: 表单预览添加参数
  package.json
  src/components/I18N/languagePack/default.json
  src/components/I18N/languagePack/zh-CN.json
  src/pages/Preview/Preview.js
  src/pages/Preview/preview.sass
Due: eslint

refactor: 调整文件目录
  src/pages/CreateForm/ChangeJson/AddDrawer.js
  src/pages/CreateForm/ChangeJson/ChangeJson.js
  src/pages/CreateForm/ChangeJson/EditDrawer.js
  src/pages/CreateForm/ChangeJson/changeJson.sass
  src/pages/CreateForm/CreateForm.js
  src/pages/CreateForm/JsonInputTextarea/JsonInputTextarea.js
  src/pages/CreateForm/JsonInputTextarea/jsonInputTextarea.sass
Due: eslint

feat: 添加查询参数
  src/components/I18N/languagePack/default.json
  src/components/I18N/languagePack/zh-CN.json
  src/pages/CreateForm/CreateForm.js
  src/pages/CreateForm/JsonInputTextarea/JsonInputTextarea.js
  src/pages/CreateForm/createForm.sass
  src/pages/Preview/Preview.js
Due: eslint
