Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

fix: 修复添加数据后无法重置表单默认值的问题
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v4.0.2
  package.json
Due: none

chore: 升级依赖
  package.json
Due: none

build
  3f75f6170a879ad.css
  index.html
  scripts/3f75f6170a879ad.js
Due: eslint

perf: 优化表格数据
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

build: 移除@babel/plugin-syntax-dynamic-import
  .babelrc
  package.json
Due: none

ci: 从tslint迁移到eslint
  .eslintrc.js
  .eslintrc.yml
  package.json
Due: eslint

style: 格式化代码，移除tslint注释
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/index.tsx
Due: tslint, eslint

docs: 修改文档错误，更新到最新的使用方法
  docs/custom_rendering_component-zhCN.md
  docs/custom_rendering_component.md
Due: none

ci: 修改eslint配置
  .eslintrc.js
Due: eslint

build: 修改webpack配置
  config/basic.config.js
Due: eslint

refactor: || => ??
  src/components/FormArray/createArrayRules.ts
  src/components/FormNumber/createNumberRules.ts
  src/components/FormString/createStringRules.ts
Due: tslint, eslint

refactor: || => ??
  src/components/FormArray/TableComponent.tsx
  src/utils/getObjectFromSchema.ts
  src/utils/sortProperties.ts
Due: tslint, eslint

refactor: || => ??
  src/index.tsx
Due: tslint, eslint

perf: 优化context
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/context.ts
Due: tslint, eslint

refactor: 调整提交区域
  example/modules/Form.js
  src/components/FormObject/FormObject.tsx
  src/style/_style.sass
Due: tslint, eslint

refactor: 调整样式
  src/components/FormObject/FormObject.tsx
  src/style/_style.sass
Due: tslint, eslint

ci: 修改eslint配置
  .eslintrc.js
  package.json
Due: eslint

build: 修改编译选项
  babel.config.js
  package.json
  src/components/highlight/highlight.js
  src/layouts/Header/index.js
  sweet.config.js
Due: eslint

fix: 修改报错
  src/pages/CreateForm/index.js
  src/pages/Index/index.js
  src/pages/Preview/index.js
Due: eslint

perf: jsx_runtime
  src/App.js
  src/components/I18N/I18N.js
  src/index.js
  src/layouts/Header/Nav.js
  src/layouts/Header/index.js
  src/layouts/Layout/index.js
  src/layouts/SwitchLoading/index.js
  src/pages/CreateForm/AddDrawer.js
  src/pages/CreateForm/ChangeJson.js
  src/pages/CreateForm/CreateForm.js
  src/pages/CreateForm/EditDrawer.js
  src/pages/CreateForm/JsonInputTextArea.js
  src/pages/CreateForm/index.js
  src/pages/Index/Demo.js
  src/pages/Preview/Preview.js
  src/pages/Preview/SchemaFormPreview.js
  src/pages/Preview/index.js
  src/router/Routers.js
  src/router/asyncModule.js
  src/store/loadModels.js
  src/store/loadReducer.js
Due: eslint

fix: 修改css文件的引入
  src/pages/Index/Demo.js
  sweet.config.js
Due: eslint

feat: 使用@redux/toolkit
  package.json
  src/pages/CreateForm/ChangeJson.js
  src/pages/CreateForm/JsonInputTextArea.js
  src/pages/CreateForm/index.js
  src/pages/CreateForm/models/models.js
  src/pages/CreateForm/reducers/reducers.js
  src/pages/CreateForm/reducers/selectors.js
  src/pages/Preview/Preview.js
  src/pages/Preview/index.js
  src/pages/Preview/models/models.js
  src/pages/Preview/reducers/reducers.js
  src/store/asyncLoadReducers.js
  src/store/loadReducer.js
  src/store/reducers.js
  src/store/store.js
Due: eslint

perf: 修改copy的方法
  package.json
  src/pages/CreateForm/JsonInputTextArea.js
  src/pages/Preview/Preview.js
  src/utils.js
Due: eslint

feat: 使用编辑器替换textarea
  package.json
  src/pages/CreateForm/CreateForm.js
  src/pages/CreateForm/JsonInputTextarea.js
  src/pages/CreateForm/createForm.sass
  src/pages/CreateForm/jsonInputTextarea.sass
  src/pages/Preview/Preview.js
  src/pages/Preview/preview.sass
  sweet.config.js
Due: eslint

build: 添加babel插件
  package.json
  sweet.config.js
Due: eslint

build
  0b04e44f2013841.css
  131_6d72a8de12b518b.js
  2fe2cb314001c7a.css
  3f75f6170a879ad.css
  881_ad6214b0afff51b.css
  881_ad6214b0afff51b.js
  a5584804611b3c6.css
  ab7b19246ace17a.css
  codicon_b3726f0165bf67a.ttf
  createForm_38b43d61f9aa91d.css
  createForm_38b43d61f9aa91d.js
  editor.worker.js
  index.html
  index_147e404a813c5f5.css
  index_147e404a813c5f5.js
  json.worker.js
  preview_c478eeab514ec47.css
  preview_c478eeab514ec47.js
  scripts/0b04e44f2013841.js
  scripts/2fe2cb314001c7a.js
  scripts/3f75f6170a879ad.js
  scripts/a5584804611b3c6.js
  scripts/ab7b19246ace17a.js
Due: eslint

fix: 修复勾选删除后ui无变化的问题
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

refactor: 移除import
  src/components/FormObject/FormObject.tsx
Due: tslint, eslint

chore: v4.1.0
  package.json
Due: none

perf: react组件按需加载
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/custom/custom.tsx
  src/components/custom/selectOptionsRender.tsx
  src/index.tsx
  src/utils/createElement.ts
  src/utils/createReactElement.ts
  tsconfig.es5.json
  tsconfig.json
Due: tslint, eslint

refactor: 移除defaultProps
  src/SchemaForm.tsx
Due: tslint, eslint
