Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

build: 修改webpack配置
  config/babel.config.mjs
  config/basic.config.mjs
  config/webpack.dev.mjs
  config/webpack.test.mjs
  package.json
Due: none

perf: 移除immutability-helper
  package.json
  src/components/FormArray/TableComponent.tsx
  src/utils/arrayMove.ts
Due: tslint, eslint

fix: 修复表格组件渲染调整数组位置的编辑框的错误
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v4.4.0
  package.json
Due: none

chore: 升级依赖
  package.json
Due: none

Deploying to gh-pages from @ duan602728596/antd-schema-form@558d5b38b221f84277b355fa4f428b8ed834a6c7 🚀
  251_1c519a2c0dbbeb1.css
  251_1c519a2c0dbbeb1.js
  251_42015fa71d59dcd.css
  251_42015fa71d59dcd.js
  785_a2225d4d0e39079.js
  99_bc1a1429b3c8cb8.js
  codicon_00aa018e3ae78d5.ttf
  codicon_68664da4962ed33.ttf
  createForm_20898fe8f1ac94e.css
  createForm_20898fe8f1ac94e.js
  createForm_eacc0a5087fa2df.css
  createForm_eacc0a5087fa2df.js
  editor.worker.js
  index.html
  index_2e8b93c35291f77.css
  index_2e8b93c35291f77.js
  index_ce8f281392a98d4.css
  index_ce8f281392a98d4.js
  json.worker.js
  preview_9091e9489854616.css
  preview_9091e9489854616.js
  preview_d825daf82fef0ba.css
  preview_d825daf82fef0ba.js
Due: eslint

ci: 使用corepack管理依赖
  .gitignore
  .npmignore
  .yarnrc.yml
  package.json
Due: none

refactor: 调整类型
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/custom/custom.tsx
  src/components/custom/selectOptionsRender.tsx
  src/index.tsx
Due: tslint, eslint

style: 格式化代码
  src/SchemaForm.tsx
Due: tslint, eslint

ci: 修改eslint的配置
  .eslintrc.cjs
Due: none

ci: 使用corepack
  package.json
Due: none

ci: 使用yarn3
  .gitignore
  .husky/.gitignore
  .yarnrc.yml
  package.json
Due: none

build: 修改dll的编译方式
  sweet.config.js
Due: eslint

ci: 修改命令
  package.json
Due: none

ci: 修改编译
  .github/workflows/build.yml
  .npmrc
Due: none

chore: 添加依赖
  package.json
Due: none

fix: 修改文件的引入
  src/imports.js
Due: eslint

fix: 修复router的问题
  src/index.js
  src/router/Routers.js
Due: eslint

ci: 修改eslint配置
  .eslintrc.cjs
Due: none

refactor: 修改context的导入
  src/layouts/Header/Nav.js
  src/pages/CreateForm/ChangeJson/AddDrawer.js
Due: eslint

Deploying to gh-pages from @ duan602728596/antd-schema-form@7da622bd3a568fcb58518bcaa350636cd7cd4d5f 🚀
  251_42015fa71d59dcd.css
  251_42015fa71d59dcd.js
  665_a20a5daf7abd298.js
  917_80f2db6e484ece8.css
  917_80f2db6e484ece8.js
  99_bc1a1429b3c8cb8.js
  codicon_56dba998166ea5a.ttf
  codicon_68664da4962ed33.ttf
  createForm_20898fe8f1ac94e.css
  createForm_20898fe8f1ac94e.js
  createForm_b0e8a09a7f20602.css
  createForm_b0e8a09a7f20602.js
  editor.worker.js
  index.html
  index_2e8b93c35291f77.css
  index_2e8b93c35291f77.js
  index_4fe77081a6a4325.css
  index_4fe77081a6a4325.js
  json.worker.js
  preview_4bd6d2d5f6fa0d6.css
  preview_4bd6d2d5f6fa0d6.js
  preview_d825daf82fef0ba.css
  preview_d825daf82fef0ba.js
  v2/scripts/aee2cd319b96ec9.js
  v3/scripts/cdcd77d106ba6eb.js
Due: eslint

fix: 修改pipeline的实现
  src/pages/CreateForm/ChangeJson/ChangeJson.js
  src/pages/CreateForm/JsonInputTextarea/JsonInputTextarea.js
  src/pages/Preview/Preview.js
Due: eslint

Deploying to gh-pages from @ duan602728596/antd-schema-form@ae793658a04df940d72a4b87484a1239c9c9863b 🚀
  665_f619ea892451aa3.js
  917_066965334d2662c.css
  917_066965334d2662c.js
  917_80f2db6e484ece8.css
  917_80f2db6e484ece8.js
  createForm_8bac13cd1e4f690.css
  createForm_8bac13cd1e4f690.js
  createForm_b0e8a09a7f20602.js
  editor.worker.js
  index.html
  index_4fe77081a6a4325.css
  index_4fe77081a6a4325.js
  index_b69256e2a0472b0.css
  index_b69256e2a0472b0.js
  json.worker.js
  preview_4bd6d2d5f6fa0d6.js
  preview_b1d97dd3f4a2d68.css
  preview_b1d97dd3f4a2d68.js
  v2/aee2cd319b96ec9.css
  v2/dd9e08664d6cae0.css
  v3/7c01aa329f90fb0.css
  v3/cdcd77d106ba6eb.css
Due: eslint

build: json的引入添加assert type
  gulpfile.mjs
Due: none

fix: 修复类型错误
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

test: 使用@testing-library/react替换enzyme
  package.json
  tests/index.ejs
  tests/tests/string/attrs.js
  tests/tests/string/componentRendering.js
  tests/tests/string/hasValue.js
  tests/tests/string/verification.js
Due: eslint

test: 使用@testing-library/react替换enzyme
  tests/tests/object/test.js
Due: eslint

test: 使用@testing-library/react替换enzyme
  tests/tests/boolean/componentRender.js
  tests/tests/boolean/hasValue.js
  tests/tests/number/attrs.js
  tests/tests/number/componentRendering.js
  tests/tests/number/hasValue.js
  tests/tests/number/verification.js
Due: eslint

test: 使用@testing-library/react替换enzyme
  package.json
  tests/index.ejs
  tests/index.js
  tests/tests/array/componentRender.js
  tests/tests/array/hasValue.js
  tests/tests/array/verification.js
  tests/tests/boolean/hasValue.js
  tests/tests/number/verification.js
Due: eslint

test: 修改测试用例的配置
  config/basic.config.mjs
  tests/index.ejs
  tests/index.js
  tests/mocha/mocha.css
  tests/mocha/mocha.js
Due: eslint

refactor: 重命名文件夹
  config/webpack.test.mjs
  test/SchemaForm.js
  test/index.ejs
  test/index.js
  test/tests/array/componentRender.js
  test/tests/array/hasValue.js
  test/tests/array/test.js
  test/tests/array/verification.js
  test/tests/boolean/componentRender.js
  test/tests/boolean/hasValue.js
  test/tests/boolean/test.js
  test/tests/function/getKeysFromObjectTest.js
  test/tests/function/getObjectFromValueTest.js
  test/tests/function/getValueFromObjectTest.js
  test/tests/function/test.js
  test/tests/number/attrs.js
  test/tests/number/componentRendering.js
  test/tests/number/hasValue.js
  test/tests/number/test.js
  test/tests/number/verification.js
  test/tests/object/test.js
  test/tests/string/attrs.js
  test/tests/string/componentRendering.js
  test/tests/string/hasValue.js
  test/tests/string/test.js
  test/tests/string/verification.js
  test/tests/utils.js
Due: eslint

refactor: 移除react的引入
  test/tests/array/componentRender.js
  test/tests/array/hasValue.js
  test/tests/array/test.js
  test/tests/array/verification.js
  test/tests/boolean/componentRender.js
  test/tests/boolean/hasValue.js
  test/tests/number/attrs.js
  test/tests/number/componentRendering.js
  test/tests/number/hasValue.js
  test/tests/number/test.js
  test/tests/number/verification.js
  test/tests/object/test.js
  test/tests/string/attrs.js
  test/tests/string/componentRendering.js
  test/tests/string/hasValue.js
  test/tests/string/test.js
  test/tests/string/verification.js
Due: eslint

refactor: 添加node:命名空间
  config/basic.config.mjs
  config/webpack.dev.mjs
  config/webpack.test.mjs
Due: none

perf: 当是一个moment对象时，渲染moment的格式化的时间
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

refactor: 移除@ts-ignore
  src/utils/lodash.ts
Due: tslint, eslint
