Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

build: 修改编译配置
  .sweetrc.js
Due: eslint

perf: 代码兼容到antd4
  src/App.js
  src/assembly/Header/Nav.js
  src/assembly/Header/index.js
  src/assembly/SwitchLoading/index.js
  src/components/icons/icons.js
  src/pages/CreateForm/Index/ChangeJson.js
  src/pages/CreateForm/Index/EditDrawer.js
  src/pages/CreateForm/Index/JsonInputTextArea.js
  src/pages/Preview/Index/SchemaFormPreview.js
  src/pages/Preview/Index/index.js
Due: eslint

build
  1613a91832d1d9d.css
  1b256a70ff2b4e5.css
  25f7419f4e81f54.css
  64a5aacec98fe82.css
  f538b448a62e8f5.css
  index.html
  scripts/1613a91832d1d9d.js
  scripts/1b256a70ff2b4e5.js
  scripts/25f7419f4e81f54.js
  scripts/64a5aacec98fe82.js
  scripts/f538b448a62e8f5.js
  v3/0075ebcf6428fc8.css
  v3/0569dd454f0af80.css
  v3/3949c81d781bd36.css
  v3/7989e28c5b37d44.css
  v3/adcc7df34579244.css
  v3/index.html
  v3/scripts/0075ebcf6428fc8.js
  v3/scripts/0569dd454f0af80.js
  v3/scripts/3949c81d781bd36.js
  v3/scripts/7989e28c5b37d44.js
  v3/scripts/adcc7df34579244.js
Due: eslint

refactor: 调整到v3版本
  .sweetrc.js
  src/assembly/Header/index.js
  src/index.pug
Due: eslint

build
  v3/0075ebcf6428fc8.css
  v3/1391c7e003b0873.css
  v3/1a7adb18343cd32.css
  v3/7c01aa329f90fb0.css
  v3/cdcd77d106ba6eb.css
  v3/d147f856e259dda.css
  v3/index.html
  v3/scripts/0075ebcf6428fc8.js
  v3/scripts/0569dd454f0af80.js
  v3/scripts/1391c7e003b0873.js
  v3/scripts/1a7adb18343cd32.js
  v3/scripts/3949c81d781bd36.js
  v3/scripts/7989e28c5b37d44.js
  v3/scripts/7c01aa329f90fb0.js
  v3/scripts/adcc7df34579244.js
  v3/scripts/cdcd77d106ba6eb.js
  v3/scripts/d147f856e259dda.js
Due: eslint

fix: 修复语言环境的判断
  src/components/I18N/I18N.js
Due: eslint

build
  8ff3c2abe9ff758.css
  index.html
  scripts/25f7419f4e81f54.js
  scripts/8ff3c2abe9ff758.js
Due: eslint

chore: 升级依赖
  package.json
Due: none

fix: 修复类型错误
  src/SchemaForm.tsx
Due: tslint, eslint

build: 去除无用的babel插件
  .babelrc
  package.json
Due: none

fix: 修复file-loader升级导致的模块引入错误
  tests/index.ejs
Due: none

fix: 修复表格添加数据后不重新渲染的问题
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/types.d.ts
Due: tslint, eslint

refactor: 移除table组件的自定义验证
  src/components/FormArray/TableComponent.tsx
  src/style/_style.sass
Due: tslint, eslint

refactor: 提取变量到useEffect之前
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

refactor: 调整表格内index值的获取
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

refactor: 关闭抽屉时会重置状态
  src/components/FormArray/TableComponent.tsx
  src/components/FormObject/FormObject.tsx
Due: tslint, eslint

docs: 添加说明
  README-zhCN.md
  README.md
Due: none

fix: 修复了语言的判断
  src/languagePack.ts
Due: tslint, eslint

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

perf: 使用import type引入纯类型模块
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
  src/components/FormString/createStringRules.ts
  src/components/custom/custom.tsx
  src/components/custom/selectOptionsRender.tsx
  src/context.ts
  src/types.d.ts
  src/utils/getKeysFromObject.ts
  src/utils/getObjectFromSchema.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
Due: tslint, eslint

chore: v4.0.0
  package.json
Due: none

ci: 修改eslint配置
  .eslintrc.js
  .eslintrc.yml
  babel.config.js
Due: eslint

perf: 升级react-router的版本
  src/App.js
  src/pages/CreateForm/AddDrawer.js
  src/pages/CreateForm/ChangeJson.js
  src/pages/CreateForm/CreateForm.js
  src/pages/CreateForm/EditDrawer.js
  src/pages/CreateForm/JsonInputTextArea.js
  src/pages/CreateForm/index.js
  src/pages/CreateForm/json/array-zhCN.json
  src/pages/CreateForm/json/array.json
  src/pages/CreateForm/json/boolean-zhCN.json
  src/pages/CreateForm/json/boolean.json
  src/pages/CreateForm/json/json.js
  src/pages/CreateForm/json/number-zhCN.json
  src/pages/CreateForm/json/number.json
  src/pages/CreateForm/json/object-zhCN.json
  src/pages/CreateForm/json/object.json
  src/pages/CreateForm/json/string-zhCN.json
  src/pages/CreateForm/json/string.json
  src/pages/CreateForm/style.sass
  src/pages/Index/Demo.js
  src/pages/Index/Layout.js
  src/pages/Index/demo-zhCN.json
  src/pages/Index/demo.json
  src/pages/Index/demo.sass
  src/pages/Index/index.js
  src/pages/Preview/Preview.js
  src/pages/Preview/SchemaFormPreview.js
  src/pages/Preview/index.js
  src/pages/Preview/style.sass
  src/router/Routers.js
Due: eslint

refactor: 修改热替换
  src/App.js
Due: eslint

refactor: 调整组件的样式
  src/App.js
  src/assembly/Arrangement/index.js
  src/assembly/Header/style.sass
  src/layouts/Header/Nav.js
  src/layouts/Header/index.js
  src/layouts/Header/index.sass
  src/layouts/Header/nav.sass
  src/layouts/Layout/index.js
  src/layouts/Layout/index.sass
  src/layouts/SwitchLoading/index.js
  src/layouts/SwitchLoading/index.sass
  src/router/asyncModule.js
Due: eslint

refactor: 调整样式
  src/pages/CreateForm/ChangeJson.js
  src/pages/CreateForm/CreateForm.js
  src/pages/CreateForm/changeJson.sass
  src/pages/CreateForm/createForm.sass
  src/pages/CreateForm/style.sass
  src/pages/Preview/Preview.js
  src/pages/Preview/SchemaFormPreview.js
  src/pages/Preview/preview.sass
  src/pages/Preview/schemaFormPreview.sass
Due: eslint

build: 修改编译配置文件
  sweet.config.js
Due: eslint

refactor: 修改redux
  .sweetrc.js
  package.json
  src/pages/CreateForm/ChangeJson.js
  src/pages/CreateForm/JsonInputTextArea.js
  src/pages/CreateForm/index.js
  src/pages/CreateForm/models/models.js
  src/pages/Preview/Preview.js
  src/pages/Preview/index.js
  src/pages/Preview/models/models.js
  src/store/loadModels.js
  src/store/reducers.js
  src/store/store.js
  src/store/useActions.js
Due: eslint

refactor: 修改间距的样式
  src/pages/CreateForm/AddDrawer.js
  src/pages/CreateForm/EditDrawer.js
  src/pages/CreateForm/JsonInputTextArea.js
  src/pages/CreateForm/commonStyle.sass
  src/pages/CreateForm/style.sass
  src/pages/Preview/Preview.js
  src/pages/Preview/preview.sass
Due: eslint

build
  1613a91832d1d9d.css
  1b256a70ff2b4e5.css
  60aaffe852232ef.css
  64a5aacec98fe82.css
  8ff3c2abe9ff758.css
  a57795a787d5a4f.css
  dce5f141541a77a.css
  e26f4997efe5493.css
  ed3ec8d2c5b1938.css
  f538b448a62e8f5.css
  index.html
  scripts/1613a91832d1d9d.js
  scripts/1b256a70ff2b4e5.js
  scripts/60aaffe852232ef.js
  scripts/64a5aacec98fe82.js
  scripts/8ff3c2abe9ff758.js
  scripts/a57795a787d5a4f.js
  scripts/dce5f141541a77a.js
  scripts/e26f4997efe5493.js
  scripts/ed3ec8d2c5b1938.js
  scripts/f538b448a62e8f5.js
Due: eslint

docs: 修改文档中的错误的链接
  README-zhCN.md
  README.md
Due: none

perf: 使用import type引入纯类型模块
  src/SchemaForm.tsx
Due: tslint, eslint

fix: 修复table组件添加时没有默认值的问题
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

chore: v4.0.1
  package.json
Due: none

build
  0b04e44f2013841.css
  2fe2cb314001c7a.css
  a5584804611b3c6.css
  a57795a787d5a4f.css
  ab7b19246ace17a.css
  c6bef3c13b37dc5.css
  index.html
  scripts/0b04e44f2013841.js
  scripts/2fe2cb314001c7a.js
  scripts/60aaffe852232ef.js
  scripts/a5584804611b3c6.js
  scripts/a57795a787d5a4f.js
  scripts/ab7b19246ace17a.js
  scripts/c6bef3c13b37dc5.js
  scripts/dce5f141541a77a.js
  scripts/e26f4997efe5493.js
  scripts/ed3ec8d2c5b1938.js
Due: eslint

Path conditions:
  tslint: any of: src/**/*.{ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
