Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

perf: 调整index的获取
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

feat: 通过配置$order，实现排序功能
  src/components/FormObject/FormObject.tsx
  src/types.d.ts
  src/utils/sortProperties.ts
Due: tslint, eslint

build
  032fc39e0302599.css
  0708685a129f82b.css
  0c0db737f9c7b4a.css
  91561680da9030d.css
  98edaa0726abbc7.css
  b1e30828dccc57e.css
  c3f1a42d4a003a0.css
  eefffa1978b4e82.css
  f5238869c369fe6.css
  index.html
  scripts/032fc39e0302599.js
  scripts/0708685a129f82b.js
  scripts/0c0db737f9c7b4a.js
  scripts/5392a80e0292c6d.js
  scripts/91561680da9030d.js
  scripts/98edaa0726abbc7.js
  scripts/b1e30828dccc57e.js
  scripts/c3f1a42d4a003a0.js
  scripts/eefffa1978b4e82.js
  scripts/f5238869c369fe6.js
Due: eslint

docs: $order的说明
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
Due: none

feat: 添加$formItemProps属性
  src/components/FormArray/FormArray.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormString/FormString.tsx
  src/types.d.ts
  src/utils/requireJson.ts
Due: tslint, eslint

feat: 添加$disabled属性
  src/components/custom/custom.tsx
  src/types.d.ts
Due: tslint, eslint

feat: formOptions允许传递Form.create的参数
  src/SchemaForm.tsx
  src/index.tsx
Due: tslint, eslint

docs: 修改说明文档
  README-zhCN.md
  README.md
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
  example/modules/Form.js
Due: eslint

fix: 修复字段的最大长度的提示错误
  src/components/FormNumber/createNumberRules.ts
Due: tslint, eslint

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v3.2.0
  package.json
Due: none

chore: 升级antd的版本
  package.json
Due: none

feat: 添加$formItemProps配置
  src/components/FormArray/FormArray.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormString/FormString.tsx
  src/types.d.ts
Due: tslint, eslint

fix: 修复图标的导出错误
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

feat: 添加$disabled属性
  src/components/custom/custom.tsx
Due: tslint, eslint

docs: 补充文档
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
Due: none

feat: 调整formOptions属性
  src/SchemaForm.tsx
Due: tslint, eslint

docs: form的参数说明
  README-zhCN.md
  README.md
Due: none

chore: 升级依赖
  package.json
Due: none

perf: 调整模块的引入
  src/imports.js
Due: eslint

build
  0075ebcf6428fc8.css
  0569dd454f0af80.css
  3949c81d781bd36.css
  7989e28c5b37d44.css
  91561680da9030d.css
  adcc7df34579244.css
  index.html
  scripts/0075ebcf6428fc8.js
  scripts/0569dd454f0af80.js
  scripts/0c0db737f9c7b4a.js
  scripts/3949c81d781bd36.js
  scripts/7989e28c5b37d44.js
  scripts/91561680da9030d.js
  scripts/98edaa0726abbc7.js
  scripts/adcc7df34579244.js
  scripts/b1e30828dccc57e.js
  scripts/eefffa1978b4e82.js
Due: eslint

fix: ref使用useImperativeHandle方法来创建
  src/SchemaForm.tsx
Due: tslint, eslint

ci: 添加createDefaultProgram配置
  .eslintrc.yml
Due: none

fix: 调整danger类型按钮
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

fix: 修复在useEffect内使用useImperativeHandle导致的问题
  src/SchemaForm.tsx
Due: tslint, eslint

docs: 移除dep的相关说明
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
Due: none

docs: antd版本>=4，表单版本>=4
  README-zhCN.md
  README.md
  package.json
Due: none

build: 调整ts的编译配置
  gulpfile.js
Due: eslint

refactor: 移除无用代码
  src/components/FormObject/FormObject.tsx
Due: tslint, eslint

refactor: 兼容错误
  src/components/FormObject/FormObject.tsx
Due: tslint, eslint

chore: v4.0.0-beta.0
  package.json
Due: none

chore: 添加图标依赖
  package.json
Due: none

test: 修改测试用例
  tests/tests/array/componentRender.js
  tests/tests/string/attrs.js
  tests/tests/string/componentRendering.js
  tests/tests/string/hasValue.js
Due: eslint

perf: 优化ref的配置方法
  src/SchemaForm.tsx
Due: tslint, eslint

test: 修改测试用例
  tests/tests/array/componentRender.js
  tests/tests/array/hasValue.js
  tests/tests/object/test.js
Due: eslint

docs: 添加说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

refactor: 添加v3链接
  src/assembly/Header/index.js
Due: eslint
