Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

chore: 更新依赖
  package.json
Due: none

chore: v2.0.0
  package.json
Due: none

docs: 修改标点
  CHANGELOG.md
Due: none

fix: 修复number组件的最大值和最小值在组件没有值时仍然验证的问题
  src/components/FormNumber/createNumberRules.ts
Due: tslint

docs: 更新说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v2.0.1
  package.json
Due: none

fix: 修复了表格组件添加和修改的文字问题
  src/components/FormArray/TableComponent.tsx
Due: tslint

chore: v2.0.2
  package.json
Due: none

ci: 调整配置
  .sweetrc.js
Due: eslint

feat: 添加新的配置
  src/modules/CreateForm/Index/json/array-zhCN.json
  src/modules/CreateForm/Index/json/array.json
  src/modules/CreateForm/Index/json/boolean-zhCN.json
  src/modules/CreateForm/Index/json/boolean.json
  src/modules/CreateForm/Index/json/number-zhCN.json
  src/modules/CreateForm/Index/json/number.json
  src/modules/CreateForm/Index/json/string-zhCN.json
  src/modules/CreateForm/Index/json/string.json
Due: none

style: 格式化代码
  src/index.pug
Due: none

build
  22deb.js
  41343.css
  41343.js
  42b9a.js
  ad8c7.css
  ad8c7.js
  c3fa5.css
  c3fa5.js
  cc269.css
  cc269.js
  ed846.css
  ed846.js
  f0b59.js
  index.html
Due: eslint

ci: 调整webpack配置
  config/basic.config.js
  config/webpack.test.js
Due: eslint

ci: 调整webpack配置
  config/webpack.test.js
Due: eslint

test: 调整测试用例
  tests/tests/function/getKeysFromObjectTest.js
  tests/tests/function/test.js
Due: eslint

test: 调整测试用例
  tests/tests/function/test.js
  tests/tests/string/test.js
Due: eslint

test: 调整测试用例
  tests/tests/object/test.js
  tests/tests/string/test.js
Due: eslint

test: 调整测试用例
  tests/tests/number/test.js
  tests/tests/object/test.js
  tests/tests/string/test.js
Due: eslint

test: 调整测试用例
  tests/tests/array/test.js
  tests/tests/boolean/test.js
Due: eslint

ci: 调整webpack配置
  config/webpack.dev.js
  config/webpack.test.js
  package.json
Due: eslint

ci: 使用文件大小写的路径检测
  package.json
Due: none

perf: 组件内添加context的变量类型
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
Due: tslint

feat: 允许table组件自定义column的render的渲染
  example/json/array.json
  example/modules/Form.js
  src/SchemaForm.tsx
  src/components/FormArray/TableComponent.tsx
  src/types.d.ts
Due: tslint, eslint

fix: 修复错误的变量类型
  src/components/FormArray/TableComponent.tsx
Due: tslint

docs: 添加自定义表格列渲染组件的说明
  README-zhCN.md
Due: none

perf: 调整了组件的传参
  example/modules/Form.js
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

docs: 添加关于自定义表格列渲染组件的说明
  README-zhCN.md
  README.md
Due: none

chore: v2.1.0
  package.json
Due: none

perf: 优化拖拽，避免自定义组件时可能发生错误
  src/components/FormArray/TableComponent.tsx
Due: tslint

fix: 升级antd版本，修复Button和@types/react的定义冲突
  package.json
Due: none

perf: 修改json的prop-types
  src/SchemaForm.tsx
Due: tslint

refactor: 重命名判断是否为null或undefined的函数
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/createArrayRules.ts
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/createNumberRules.ts
  src/components/FormString/createStringRules.ts
  src/utils/type.ts
Due: tslint

chore: 升级依赖
  package.json
Due: none

style: 格式化代码
  src/App.js
  src/assembly/Arrangement/style.sass
  src/assembly/Header/style.sass
  src/assembly/SwitchLoading/style.sass
  src/modules/CreateForm/Index/style.sass
  src/modules/Index/Index/style.sass
  src/modules/Preview/Index/style.sass
Due: eslint

chore: 安装core-js
  package.json
Due: none

fix: 修改css样式
  src/assembly/Arrangement/style.sass
Due: none

build
  41343.css
  41343.js
  6e2a9.css
  6e2a9.js
  7ce91.css
  7ce91.js
  ad8c7.js
  aec12.css
  aec12.js
  c3fa5.js
  c906b.css
  c906b.js
  ed846.css
  ed846.js
  index.html
Due: eslint

Path conditions:
  tslint: any of: src/**/*.{ts,tsx}
  eslint: any of: *.{js,jsx}
