Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

build: 编译v4文件
  build/v4/665_9dec98c7c2c1005.js
  build/v4/codicon_ade705761eb7e70.ttf
  build/v4/editor.worker.js
  build/v4/index.html
  build/v4/index_495c7999ff1f77b.css
  build/v4/index_495c7999ff1f77b.js
  build/v4/json.worker.js
Due: eslint

chore: 升级依赖
  .yarnrc.yml
  package.json
Due: none

build: 修改编译配置
  sweet.config.js
Due: eslint

refactor: 调整连接和样式
  src/index.js
  src/layouts/Header/index.js
  src/pages/Index/Demo.js
  src/pages/Index/demo.sass
Due: eslint

refactor: 调整代码合并
  src/store/reducers.js
Due: eslint

refactor: 调整i18n配置的位置
  src/components/I18N/I18N.js
  src/index.js
Due: eslint

fix: 修改过时的api
  src/layouts/Header/index.js
  src/pages/CreateForm/ChangeJson/AddDrawer.js
  src/pages/CreateForm/ChangeJson/EditDrawer.js
  src/pages/CreateForm/JsonInputTextarea/JsonInputTextarea.js
  src/pages/Index/Demo.js
  src/pages/Preview/Preview.js
  src/pages/Preview/SchemaFormPreview.js
Due: eslint

Deploying to gh-pages from @ duan602728596/antd-schema-form@31ec8fea3879d977341a7122e7af0e443028adff 🚀
  665_9dec98c7c2c1005.js
  665_eb07df93c677cb5.js
  codicon_b797181c93b3755.ttf
  editor.worker.js
  index.html
  index_f15118b561816e2.css
  index_f15118b561816e2.js
  index_f8933bf5f53a9c4.css
  index_f8933bf5f53a9c4.js
  json.worker.js
  v2/aee2cd319b96ec9.css
  v3/cdcd77d106ba6eb.css
  v4/665_9dec98c7c2c1005.js
  v4/codicon_ade705761eb7e70.ttf
  v4/editor.worker.js
  v4/index.html
  v4/index_495c7999ff1f77b.css
  v4/index_495c7999ff1f77b.js
  v4/json.worker.js
Due: eslint

docs: 修复文档说明错误
  docs/json_schema_configuration.md
Due: none

chore: v5.0.1
  package.json
Due: none

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

fix: 修复template的错误
  src/components/FormNumber/createNumberRules.ts
Due: tslint, eslint

chore: 升级依赖
  package.json
Due: none

Deploying to gh-pages from @ duan602728596/antd-schema-form@6c2e336e706f0ca4c06cb16e1763b5933b7b8413 🚀
  665_f310e8b75410ea3.js
  index.html
  index_3c4151745be1b60.css
  index_3c4151745be1b60.js
  index_f15118b561816e2.js
  json.worker.js
  v2/scripts/5c1dda83561b934.js
  v2/scripts/aee2cd319b96ec9.js
  v2/scripts/eb45d13208a41ef.js
  v3/scripts/1391c7e003b0873.js
  v3/scripts/cdcd77d106ba6eb.js
  v4/665_9dec98c7c2c1005.js
  v4/editor.worker.js
  v4/index_495c7999ff1f77b.js
  v4/json.worker.js
Due: eslint

fix: 修复jsdoc注释的语法错误
  src/components/FormArray/TableComponent.tsx
  src/components/FormArray/tableFunction.ts
  src/utils/getKeysFromObject.ts
  src/utils/getObjectFromSchema.ts
  src/utils/getObjectFromValue.ts
  src/utils/getValueFromObject.ts
  src/utils/lodash.ts
  src/utils/styleName.ts
Due: tslint, eslint

chore: 升级antd icon的版本，修复icon的ts的类型报错
  package.json
Due: none

perf: do not use prop-types and remove it
  package.json
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormObject/OneOf.tsx
  src/components/FormString/FormString.tsx
Due: tslint, eslint

fix: 修复collapse children废弃的问题
  src/components/custom/custom.tsx
Due: tslint, eslint

chore: 升级eslint版本
  .eslintignore
  .eslintrc.cjs
  eslint.config.mjs
  package.json
Due: none

chore: 升级依赖
  .gitignore
  package.json
Due: none

perf: 删除prop-types
  package.json
  src/components/I18N/I18N.js
  src/pages/CreateForm/ChangeJson/AddDrawer.js
  src/pages/CreateForm/ChangeJson/EditDrawer.js
  src/pages/Preview/SchemaFormPreview.js
  sweet.config.js
Due: eslint

fix: 修复menu的参数错误
  src/layouts/Header/index.js
Due: eslint

fix: 修复地址错误
  build/v4/index.html
  build/v4/index_495c7999ff1f77b.css
  build/v4/index_495c7999ff1f77b.js
Due: eslint

ci: 升级node的版本
  .github/workflows/build.yml
Due: none

fix: 修复样式问题
  src/index.global.sass
  src/index.js
Due: eslint

chore: 升级eslint的版本
  .eslintignore
  .eslintrc.cjs
  .gitignore
  eslint.config.mjs
  package.json
Due: none

chore: 从依赖中删除
  package.json
Due: none

build: 修改编译配置
  .yarnrc.yml
  gulpfile.mjs
  package.json
  tsconfig.es5.json
  tsconfig.json
Due: none

fix: 修复错误
  config/basic.config.mjs
  example/index.js
  example/style.sass
  package.json
  postInstall.mjs
  src/SchemaForm.tsx
  src/components/FormObject/OneOf.tsx
  src/components/custom/custom.tsx
  src/components/custom/selectOptionsRender.tsx
Due: tslint, eslint

revert: 回滚代码
  config/basic.config.mjs
  package.json
Due: none

build: 修改webpack的编译配置
  .gitignore
  .npmignore
  config/basic.config.mjs
  config/webpack.dev.mjs
  config/webpack.test.mjs
  example/index.js
  example/index.sass
Due: eslint

chore: 不需要使用@eslint/compat
  eslint.config.mjs
  package.json
Due: none

perf: 使用react19兼容包
  example/index.js
  package.json
  postInstall.mjs
Due: eslint

fix: 修复sass @import语法的警告
  src/style/_style.sass
  src/style/antd-schema-form-global.sass
  src/style/antd-schema-form.sass
Due: none

fix: 修复classNames包引入的错误
  src/components/FormArray/FormArray.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormString/FormString.tsx
Due: tslint, eslint

fix: 修复编译文件的一些问题
  gulpfile.mjs
  package.json
Due: none
