Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

refactor: 调整表格错误的显示位置，隐藏了form组件的原生提示
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/style/_style.sass
Due: tslint

refactor: 数组类型的自定义组件，item没有className
  src/components/FormArray/FormArray.tsx
Due: tslint

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

test(抽取创建表单验证的onOk函数为公共函数):
  test/mocha/mocha.js
  test/tests/number/verification.js
  test/tests/string/verification.js
  test/tests/utils.js
Due: eslint

test: 添加TableComponent组件的错误验证的测试用例
  test/mocha/mocha.js
  test/tests/array/test.js
  test/tests/array/verification.js
Due: eslint

chore: 将.lintstagedrc.yml加入到.npmignore
  .npmignore
Due: none

chore: v2.0.0-beta.4
  package.json
Due: none

chore: 将.babelrc加入到.npmignore中
  .npmignore
Due: none

更新依赖
  package.json
Due: none

build
  index.html
  script/1e5db.js
  script/23165.js
  script/41726.js
  script/99a18.js
  script/b662b.js
  script/d73ff.js
  script/fa0b3.js
  script/fdaca.js
  style/1e5db.css
  style/41726.css
  style/99a18.css
  style/b662b.css
  style/d73ff.css
  style/fa0b3.css
  style/fdaca.css
Due: eslint

docs: 修改文档
  CHANGELOG.md
Due: none

style: 格式化代码
  tslint.json
Due: none

docs: 添加升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

refactor: 调整sass字首变量的变量名称
  src/style/_style.sass
  src/style/_variable.sass
Due: none

refactor: 调整字首变量的变量名称
  src/utils/styleName.ts
Due: tslint

chore: v2.0.0-beta.5
  package.json
Due: none

fix: 添加requireJson方法，修复因为ts和js对json文件的引入的处理方式不同导致的错误
  src/languagePack.ts
  src/utils/requireJson.ts
  src/utils/type.ts
  test/SchemaForm.js
Due: tslint, eslint

docs: 更新说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

docs: 修改运行说明
  README-zhCN.md
  README.md
Due: none

chore: v2.0.0-beta.6
  package.json
Due: none

build
  index.html
  script/a8dd7.js
  script/ae31e.js
  style/a8dd7.css
  style/ae31e.css
Due: eslint

perf: 拆分样式代码
  src/style/_style.sass
  src/style/antd-schema-form-global.sass
  src/style/antd-schema-form.sass
Due: none

test: 调整测试用例的目录
  .eslintignore
  config/webpack.test.js
  package.json
  tests/SchemaForm.js
  tests/app.js
  tests/index.ejs
  tests/mocha/mocha.css
  tests/mocha/mocha.js
  tests/tests/array/componentRender.js
  tests/tests/array/hasValue.js
  tests/tests/array/test.js
  tests/tests/array/verification.js
  tests/tests/boolean/componentRender.js
  tests/tests/boolean/hasValue.js
  tests/tests/boolean/test.js
  tests/tests/function/getKeysFromObjectTest.js
  tests/tests/function/getObjectFromValueTest.js
  tests/tests/function/getValueFromObjectTest.js
  tests/tests/function/test.js
  tests/tests/number/attrs.js
  tests/tests/number/componentRendering.js
  tests/tests/number/hasValue.js
  tests/tests/number/test.js
  tests/tests/number/verification.js
  tests/tests/object/test.js
  tests/tests/string/attrs.js
  tests/tests/string/componentRendering.js
  tests/tests/string/hasValue.js
  tests/tests/string/test.js
  tests/tests/string/verification.js
  tests/tests/utils.js
Due: eslint

chore: ignore
  .eslintignore
Due: none

feat: 数组类型添加一个字段，允许表格组件添加数据时数据插入到头部
  example/json/array.json
  src/components/FormArray/TableComponent.tsx
  src/types.d.ts
Due: tslint

chore: 修改example
  example/json/array.json
Due: none

docs: 修改api文档
  README-zhCN.md
  README.md
Due: none

chore: v2.0.0-beta.7
  package.json
Due: none

删除build文件
  style/antd-schema-form-global.css
  style/antd-schema-form.css
Due: none

chore: .gitignore
  .gitignore
Due: none

perf: 调整折叠面板和RadioGroup之间的距离
  src/style/_style.sass
Due: none

refactor: 重命名入口文件名称
  config/webpack.dev.js
  config/webpack.test.js
  example/App.js
  example/index.js
  tests/index.js
Due: eslint

fix: 解决可能获取不到oneOf内id的情况
  src/utils/getKeysFromObject.ts
Due: tslint

refactor: 修改注释
  src/components/FormArray/tableFunction.ts
Due: tslint

Path conditions:
  tslint: any of: src/**/*.{ts,tsx}
  eslint: any of: *.{js,jsx}
