Repository duan602728596/antd-schema-form: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, eslint

.lintstagedrc.yml:

src/**/*.{ts,tsx}: tslint
"*.{js,jsx,ts,tsx}": eslint

feat: 添加对date-picker的配置
  src/components/FormArray/TableComponent.tsx
  src/components/custom/custom.tsx
  src/types.d.ts
Due: tslint, eslint

docs: 添加说明
  docs/json_schema_configuration-zhCN.md
  docs/json_schema_configuration.md
Due: none

docs: 升级说明
  CHANGELOG-zhCN.md
  CHANGELOG.md
Due: none

chore: v4.5.0
  package.json
Due: none

perf: 修改customComponent和customTableRender的类型
  src/SchemaForm.tsx
  src/types.d.ts
Due: tslint, eslint

chore: 升级依赖
  package.json
Due: none

refactor: 调整代码
  src/pages/CreateForm/json/string-zhCN.json
  src/pages/CreateForm/json/string.json
  src/store/store.js
Due: eslint

fix: 修改样式错误
  src/pages/CreateForm/ChangeJson/changeJson.sass
Due: none

refactor: 添加assert type
  src/components/I18N/languagePack.js
  src/layouts/Header/index.js
  src/pages/CreateForm/ChangeJson/AddDrawer.js
  src/pages/CreateForm/ChangeJson/EditDrawer.js
  src/pages/CreateForm/json/json.js
  src/pages/Index/Demo.js
  src/pages/Preview/Preview.js
Due: eslint

Deploying to gh-pages from @ duan602728596/antd-schema-form@f8caf19d4d1a8c7dedff0375a92cee47ae4f442e 🚀
  665_3a4f70b907b0ee5.js
  665_f619ea892451aa3.js
  917_066965334d2662c.css
  917_066965334d2662c.js
  917_cff2042bd3d99d5.css
  917_cff2042bd3d99d5.js
  codicon_56dba998166ea5a.ttf
  codicon_ade705761eb7e70.ttf
  createForm_3bf07a5e932574c.css
  createForm_3bf07a5e932574c.js
  createForm_8bac13cd1e4f690.css
  createForm_8bac13cd1e4f690.js
  editor.worker.js
  index.html
  index_4671dde141f26c4.css
  index_4671dde141f26c4.js
  index_b69256e2a0472b0.css
  index_b69256e2a0472b0.js
  json.worker.js
  preview_b1d97dd3f4a2d68.js
  preview_b22c439ccac4be1.css
  preview_b22c439ccac4be1.js
Due: eslint

fix: 修复当组件为date时，required验证错误的问题
  src/components/FormString/createStringRules.ts
Due: tslint, eslint

chore: v4.5.1
  package.json
Due: none

Deploying to gh-pages from @ duan602728596/antd-schema-form@fd50386922e3b0b2bf5cbcc0889c0d9e8226093c 🚀
  665_4d0f85cdf91e18a.js
  917_2d42cc2530fcf83.css
  917_2d42cc2530fcf83.js
  createForm_3bf07a5e932574c.js
  createForm_4385574bc61e29e.css
  createForm_4385574bc61e29e.js
  index.html
  index_4671dde141f26c4.css
  index_4671dde141f26c4.js
  index_9560699eb45d18a.css
  index_9560699eb45d18a.js
  preview_853f0bb99fc5bd2.css
  preview_853f0bb99fc5bd2.js
  preview_b22c439ccac4be1.js
Due: eslint

refactor: 移除异步加载
  src/components/I18N/languagePack/default.json
  src/components/I18N/languagePack/zh-CN.json
  src/layouts/SwitchLoading/index.js
  src/layouts/SwitchLoading/index.sass
  src/router/Routers.js
  src/router/asyncModule.js
Due: eslint

Deploying to gh-pages from @ duan602728596/antd-schema-form@97c1c5a434841f1e7308df6e2c2d19fd2f10ef33 🚀
  665_9dec98c7c2c1005.js
  917_2d42cc2530fcf83.css
  917_2d42cc2530fcf83.js
  createForm_4385574bc61e29e.css
  createForm_4385574bc61e29e.js
  index.html
  index_9560699eb45d18a.css
  index_9560699eb45d18a.js
  index_e95e5796a84f914.css
  index_e95e5796a84f914.js
  preview_853f0bb99fc5bd2.css
  preview_853f0bb99fc5bd2.js
  v2/aee2cd319b96ec9.css
  v3/cdcd77d106ba6eb.css
Due: eslint

refactor: 调整reducer的加载
  src/pages/CreateForm/index.js
  src/pages/Preview/index.js
  src/store/asyncLoadReducers.js
  src/store/reducers.js
Due: eslint

feat: 使用createRoot
  src/index.js
  sweet.config.js
Due: eslint

Deploying to gh-pages from @ duan602728596/antd-schema-form@3f7acb1176346725afeecbeb4035b5434cfbfe7b 🚀
  index.html
  index_c87fdcdf76613a2.css
  index_c87fdcdf76613a2.js
Due: eslint

refactor: 添加表单
  src/pages/CreateForm/json/number-zhCN.json
  src/pages/CreateForm/json/number.json
Due: none

Deploying to gh-pages from @ duan602728596/antd-schema-form@5bf917d238fc61245aed6cf3bc7ce09814bdc02f 🚀
  index.html
  index_f8933bf5f53a9c4.css
  index_f8933bf5f53a9c4.js
Due: eslint

build: 修改antd@5不需要的配置
  config/babel.config.mjs
  config/basic.config.mjs
Due: none

perf: 使用dayjs替换moment
  src/utils/getObjectFromSchema.ts
Due: tslint, eslint

build: 移除babel-plugin-import
  config/basic.config.mjs
Due: none

fix: 修改类型错误
  src/components/FormArray/FormArray.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormString/FormString.tsx
  src/types.d.ts
  src/utils/lodash.ts
  tsconfig.es5.json
  tsconfig.json
Due: tslint, eslint

build: 使用tslib
  package.json
  tsconfig.es5.json
  tsconfig.json
Due: none

fix: 修改已废弃的api
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

perf: 使用新的react-dom api
  example/index.js
Due: eslint

chore: 修改依赖的版本
  package.json
Due: none

perf: 修改组件和table item的render函数的传参
  src/SchemaForm.tsx
  src/components/FormArray/FormArray.tsx
  src/components/FormArray/TableComponent.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormString/FormString.tsx
  src/components/custom/custom.tsx
  src/customComponent.ts
  src/index.tsx
  src/types.d.ts
Due: tslint, eslint

perf: 优化代码
  src/components/FormArray/TableComponent.tsx
Due: tslint, eslint

docs: 修改文档
  README-zhCN.md
  README.md
  docs/custom_rendering_component-zhCN.md
  docs/custom_rendering_component.md
Due: none

fix: 修复传递参数的错误
  example/modules/Form.js
  src/components/FormArray/FormArray.tsx
  src/components/FormBoolean/FormBoolean.tsx
  src/components/FormNumber/FormNumber.tsx
  src/components/FormObject/FormObject.tsx
  src/components/FormString/FormString.tsx
Due: tslint, eslint

build: 开启top-level-await
  config/basic.config.mjs
Due: none

test: 修复测试用例的一些问题
  test/index.js
  test/tests/string/attrs.js
  tsconfig.es5.json
  tsconfig.json
Due: eslint

chore: 修改版本号
  README-zhCN.md
  README.md
  package.json
Due: none
